body
{
    margin: 0;
    padding: 0;
    background-image: url(Background.png);
    background-size: cover;
    font-family: sans-serif;
}
.title
{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;
}
.container
{
    width: 50%;
    height: 400px;
    background-size: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left
{
    float: left;
    width: 50%;
    height: 400px;
    background-image: url(quiz-background-with-items-flat-design_23-2147599082.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.container .right
{
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.formBox
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background-color: #fff;
}
.formBox label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input
{
    margin-bottom: 20px;
}
.formBox input[type="text"]
{
     border: none;
     border-bottom: 2px solid #a6af13;
     outline: none;
     height: 40px;
}
.formBox input[type="text"]:focus
{
      border-bottom: 2px solid #262626;
}
.formBox button
{
       border: none;
       outline: none;
       height: 40px;
       color: #fff;
       background: #262626;
       width: 50%;
}
.formBox button:hover
{
       background: #a6af13;
}
